<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Google font generator</title>
	<style type="text/css">
		li {
			height: <%= lineHeigth %>;
			font-size: <%= fontSize %>;
			padding: 0px;
			margin: 0px;
			line-height: <%= lineHeigth %>;
			text-align: left;
			vertical-align: middle;

		}
		ul
		{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			width: <%= width %>;
		}
		body {
			margin: 0px;
		}

	</style>
</head>
<body id="home">
	<ul id="fonts"></ul>
	

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js"></script>
		<script type="text/javascript">
			$(function() {
				$.get("https://www.googleapis.com/webfonts/v1/webfonts?key=<%= googleAPIKey %>", function(data) {
					var familyesArray = [];
					processLargeArrayAsync(data.items, function(item, index, array) {
						console.log("loading chunk")
						$("#fonts").append("<li style='font-family:" + item.family + "'>" + item.family + "</li>");
						familyesArray.push(item.family);
						loadFonts();
					}, 100, window, function() {
						console.log("finish");
						//finish callback
						setTimeout(function() {
							//indicate that we finished with loading and take screenshot
							if (typeof window.callPhantom === 'function') {
							  window.callPhantom({ loadingFinish: true });
							}
						}, 1000);
					});

					function loadFonts() {
						WebFont.load({
							google: {
								families: familyesArray
							},
							active: function() {}
						});
						familyesArray = [];
					}

					function processLargeArrayAsync(array, fn, chunk, context, finishCallbck) {
						context = context || window;
						chunk = chunk || 100;
						var index = 0;

						function doChunk() {
							var cnt = chunk;
							while (cnt-- && index < array.length) {
								// callback called with args (value, index, array)
								fn.call(context, array[index], index, array);
								++index;
							}
							if (index < array.length) {
								// set Timeout for async iteration
								setTimeout(doChunk, 2000);
							} else {
								finishCallbck();
							}
						}
						doChunk();
					}
				});
			});
</script>
</body>
</html>