<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Google font generator</title>
	<style type="text/css">
		li {
			height: <%= lineHeight %>;
			font-size: <%= fontSize %>;
			padding: 0px;
			margin: 0px;
			line-height: <%= lineHeight %>;
			text-align: left;
			vertical-align: middle;

		}
		ul
		{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			width: <%= width %>;
		}
		body {
			margin: 0px;
		}

	</style>
</head>
<body id="home">
	<ul id="fonts"></ul>
	

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		<script type="text/javascript">
			$(function() {
				$.get("https://www.googleapis.com/webfonts/v1/webfonts?key=<%= googleAPIKey %>", function(data) {
					var familiesArray = [];
					var loadedFontsArray = [];
					var notLoadedFontsArray = [];
					var loadingChunksFinished = false;


					processLargeArrayAsync(data.items, function(item, index, array) {
						console.log("Loading chunk: " + index);
						$("#fonts").append("<li style='font-family:" + item.family + "'>" + item.family + "</li>");
						const key = item.family + ':' + findBestVariant(item);
						familiesArray.push(key);
						loadFonts([key]);
					}, 100, window, function() {
						console.log("fFnish loading chunks");
						loadingChunksFinished = true;
						checkIfAllFontsAreLoaded();
					});

					function loadFonts(fonts) {
						WebFont.load({
							timeout: 60000,
							google: {
								families: fonts
							},
							active: function() {
								// console.log('active');
							},
							fontactive: function(param) {
								console.log('Loaded.... ' + param);
								loadedFontsArray.push(param);
								checkIfAllFontsAreLoaded();
							},
							fontinactive: function(param) {
								console.log('Not loaded.... ' + param);
								notLoadedFontsArray.push(param);
								checkIfAllFontsAreLoaded();
							}
						});
					}

					function checkIfAllFontsAreLoaded() {
						if (!loadingChunksFinished) {
							return;
						}
						if (loadedFontsArray.length + notLoadedFontsArray.length === familiesArray.length) {
							console.log('Number of handled fonts:' + loadedFontsArray.length);
							console.log('Number of failed fonts:' + notLoadedFontsArray.length);
							notLoadedFontsArray.forEach((v) => {
								console.log('- ', v);
							});
							setTimeout(function () {
								console.log('takeScreenshot');
							}, 10000);
						}
					}

					function findBestVariant(font) {
						var variants = font.variants;

						if (variants.includes('regular')) {
							return 'regular';
						}

						return variants[0];
					}
					function processLargeArrayAsync(array, fn, chunk, context, finishCallbck) {
						context = context || window;
						chunk = chunk || 100;
						var index = 0;

						function doChunk() {
							var cnt = chunk;
							while (cnt-- && index < array.length) {
								// callback called with args (value, index, array)
								fn.call(context, array[index], index, array);
								++index;
							}
							if (index < array.length) {
								// set Timeout for async iteration
								setTimeout(doChunk, 2000);
							} else {
								finishCallbck();
							}
						}
						doChunk();
					}
				});
			});
</script>
</body>
</html>